<!-- Brand Logo -->
<a [routerLink]="['/']" class="brand-link" style="text-align: center;">
    <span class="brand-text font-weight-light">AngularTest</span>
</a>

<div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
        <img
            [src]="'assets/img/default-profile.png'"
            class="img-circle elevation-2"
            alt="User Image"
        />
    </div>
    <div class="info">
        <a [routerLink]="['/profile']" class="d-block">
            {{ useremail }}
        </a>
    </div>
</div>
<!-- Sidebar -->
<div class="sidebar">
    <nav class="mt-2">
        <ul
            class="nav nav-pills nav-sidebar flex-column"
            data-widget="treeview"
            role="menu"
            data-accordion="true"
        >
            <app-menu-item *ngFor="let item of menu" [menuItem]="item"  [routerLinkActive]="'active'" >
                
            </app-menu-item>
            
        </ul>
    </nav>
</div> 